@font-face {
	font-family: 'Novarese';
	src: url('../static/fonts/novarese/NovareseBook.eot');
	src: url('../static/fonts/novarese/NovareseBook.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/novarese/NovareseBook.woff2') format('woff2'),
		url('../static/fonts/novarese/NovareseBook.woff') format('woff'),
		url('../static/fonts/novarese/NovareseBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../static/fonts/suisseintl/SuisseIntl-SemiBold.eot');
	src: url('../static/fonts/suisseintl/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/suisseintl/SuisseIntl-SemiBold.woff2') format('woff2'),
		url('../static/fonts/suisseintl/SuisseIntl-SemiBold.woff') format('woff'),
		url('../static/fonts/suisseintl/SuisseIntl-SemiBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../static/fonts/suisseintl/SuisseIntl-ThinItalic.eot');
	src: url('../static/fonts/suisseintl/SuisseIntl-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/suisseintl/SuisseIntl-ThinItalic.woff2') format('woff2'),
		url('../static/fonts/suisseintl/SuisseIntl-ThinItalic.woff') format('woff'),
		url('../static/fonts/suisseintl/SuisseIntl-ThinItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../static/fonts/suisseintl/SuisseIntl-Light.eot');
	src: url('../static/fonts/suisseintl/SuisseIntl-Light.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/suisseintl/SuisseIntl-Light.woff2') format('woff2'),
		url('../static/fonts/suisseintl/SuisseIntl-Light.woff') format('woff'),
		url('../static/fonts/suisseintl/SuisseIntl-Light.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../static/fonts/suisseintl/SuisseIntl-Thin.eot');
	src: url('../static/fonts/suisseintl/SuisseIntl-Thin.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/suisseintl/SuisseIntl-Thin.woff2') format('woff2'),
		url('../static/fonts/suisseintl/SuisseIntl-Thin.woff') format('woff'),
		url('../static/fonts/suisseintl/SuisseIntl-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../static/fonts/suisseintl/SuisseIntl-Regular.eot');
	src: url('../static/fonts/suisseintl/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
		url('../static/fonts/suisseintl/SuisseIntl-Regular.woff2') format('woff2'),
		url('../static/fonts/suisseintl/SuisseIntl-Regular.woff') format('woff'),
		url('../static/fonts/suisseintl/SuisseIntl-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
