  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import '../../globie-library/helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library/library'

// ******************************************************

// GRID

@import '../../globie-library/grid'

// ******************************************************

// FONTS

// declare font families here

@import 'fonts/fonts.styl'

$font-sans = 'SuisseIntl', font-stack('Helvetica');
$font-serif = 'Novarese', font-stack('Georgia');

// ******************************************************

// TYPOGRAPHY

@import '../../globie-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

.font-bolder
  font-weight: 600

.font-heavy
  font-weight: 800

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-blue = rgb(41, 168, 255)
$color-yellow = rgb(248, 231, 28)

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-white

img
  height: auto
  max-width: 100%

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// MEDIA QUERIES

$gutter = 16px

$margin-micro = ($gutter / 4.5)
$margin-tiny = ($gutter / 3)
$margin-small = ($gutter / 2)
$margin-basic = ($gutter)
$margin-mid = ($gutter * 2)
$margin-large = ($gutter * 3.5)

$font-size-basic = 16px
$font-size-giant = 60px
$font-size-extra = 28px
$font-size-large = 24px
$font-size-mid = 21px
$font-size-small = 18px

grid(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-giant, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small)

@import 'responsive/mobile'

@media screen and (min-width: 600px)

  $gutter = 20px

  $margin-micro = ($gutter / 4.5)
  $margin-tiny = ($gutter / 3)
  $margin-small = ($gutter / 2)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3.5)

  $font-size-basic = 16px
  $font-size-giant = 72px
  $font-size-extra = 42px
  $font-size-large = 28px
  $font-size-mid = 22px
  $font-size-small = 19px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(95%, $gutter, m)

  font-sizes($font-size-basic, $font-size-giant, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small)

  .mobile-only
    display: none !important

  .desktop-only
    display: initial !important

  @import 'responsive/tablet-portrait'

@media screen and (min-width: 1024px)

  $gutter = 26px

  $margin-micro = ($gutter / 4.5)
  $margin-tiny = ($gutter / 3)
  $margin-small = ($gutter / 2)
  $margin-basic = ($gutter)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3.5)

  $font-size-basic = 21px
  $font-size-giant = 96px
  $font-size-extra = 48px
  $font-size-large = 34px
  $font-size-mid = 28px
  $font-size-small = 24px

  grid(95%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-giant, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small)

  @import 'responsive/tablet-landscape'

@media screen and (min-width: 1280px)

  $font-size-basic = 24px
  $font-size-giant = 120px
  $font-size-extra = 64px
  $font-size-large = 40px
  $font-size-mid = 32px
  $font-size-small = 27px

  font-sizes($font-size-basic, $font-size-giant, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small)

  @import 'responsive/laptop'

@media screen and (min-width: 1366px)

  grid(1280px, false, xl)

  @import 'responsive/desktop'

@media screen and (min-width: 1680px)

  @import 'responsive/hd'

// @media screen and (min-width: 1920px)
//
//   grid(1800px)
