
// HEADER

#header-logo
  font-size: $font-size-large

#header-menu
  li
    margin-left: $margin-mid
    font-size: $font-size-basic

// ******************************************************

// FOOTER

#footer-menu
  li
    margin-left: $margin-mid
    font-size: $font-size-basic

.footer-contact-text
  font-size: $font-size-mid
