// BASIC

.container-full
  width: 100vw
  max-width: 1400px
  margin: 0 auto
  display: block

.splash-with-image
  height: 110vh
  background-size: cover

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100vw
