// BASIC

html, body
  overflow-x: hidden

.container-full
  width: 100%
  margin: 0 auto
  display: block
  overflow: hidden

.splash-holder
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .5))

.splash-with-image
  height: 100vh
  max-width: 1920px
  background-size: cover
  background-position: center
  clip-path: polygon(0 0, 0 95vh, 100% 100%, 100% 0)

.splash-overlay
  width: 100%
  height: 100%
  background: blue
  position: absolute
  top: 0
  left: 0
  opacity: .1
  z-index: 0
  mix-blend-mode: multiply

.splash-text
  height: 90vh
  color: $color-white

.diagonal-divider-holder
  height: 5vh
  max-width: 1600px

.diagonal-divider
  height: 100%
  width: 100%
  path
    stroke: $color-blue
    stroke-width: 4

a.button, a.button:active, a.button:visited
  display: inline-block
  text-align: center
  background-color: $color-blue
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  color: $color-white
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight
  position: relative
  &:before
    content: ''
    position: absolute
    background-color: $color-yellow
    z-index: -100

.highlight-center::before
  width: calc( '100% + ' + ($margin-mid) )
  height: 130%
  left: -( $margin-basic )
  top: 0

.highlight-heading::before
  width: 100%
  height: 130%
  left: -( $margin-basic )
  top: 0

.highlight-hero::before
  width: 86%
  height: 70px
  left: 6%
  top: 50%
  margin-top: -35px

.highlight-heading-wide::before
  width: 200%
  height: 130%
  left: -( $margin-basic )
  top: 0

.highlight-heading-alt
  h1,
  h2,
  h3
    padding-left: $margin-mid
  &::before
    width: 180%
    height: 130%
    right: $margin-basic
    top: 0

.highlight-press:before
  width: 86%
  height: 70px
  left: 6%
  top: 50%
  margin-top: -35px

// ******************************************************

// SLIDER

.swiper-container
  overflow: visible

.swiper-slide
  font-size: 0
  img
    height: 45vw
    width: auto
    max-width: none

.swiper-pagination
  width: 100%
  display: flex

.swiper-pagination-bullet
  height: 6px
  border-radius: 0
  background: $color-blue
  opacity: 1
  margin: 0
  flex-grow: 1
  &:hover
    opacity: .5

.swiper-pagination-bullet-active
  background: $color-yellow
  &:hover
    opacity: 1

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 500
  &.splash-header
    color: $color-white
    svg
      fill: $color-white

#header-menu
  display: none

#mobile-open-menu
  height: 20px
  transition: 300ms fill linear
  fill: $color-black

#mobile-close-menu
  height: 22px
  fill: $color-white

#mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 600
  background-color: $color-blue
  color: $color-white
  overflow-y: scroll
  transform: translateX(100%)
  transition: 300ms transform cubic-bezier(0, 0, .03, 1.01)
  &.active
    transform: translateX(0)

// ******************************************************

// HOME

#home-properties
  .container-full
    max-width: 1500px

#home-press-button-holder, #home-filming-button-holder
  text-align: center

// ******************************************************

// FOOTER

#footer
  width: 100%
  color: $color-white
  background-color: $color-blue

#footer-menu
  display: flex
  width: 100%
  justify-content: space-between

.footer-contact-text
  font-size: $font-size-mid
