// BASIC

.container-full
  width: 100vw
  margin: 0 auto
  display: block

.splash-with-image
  height: 95vh
  max-width: 1440px
  background-size: cover
  background-position: center

.splash-text
  height: calc('100% - 100px')
  color: $color-white

.diagonal-divider
  max-width: 1600px
  path
    stroke: $color-blue
    stroke-width: 4

a.button, a.button:active, a.button:visited
  display: inline-block
  text-align: center
  background-color: $color-blue
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  color: $color-white
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight-center
  position: relative
  &:before
    content: ''
    position: absolute
    width: calc( '100% + ' + ($margin-mid) )
    height: 130%
    top: -10%
    left: -( $margin-basic )
    top: 0
    background-color: $color-yellow
    z-index: -100

.highlight-heading
  position: relative
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 130%
    top: -10%
    left: -( $margin-basic )
    top: 0
    background-color: $color-yellow
    z-index: -100

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100vw
