// BASIC

a.button, a.button:active, a.button:visited
  text-align: center
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  font-size: $font-size-small

.splash-with-image
  clip-path: polygon(0 0, 0 90vh, 100% 100%, 100% 0)

.splash-text
  height: 85vh

.diagonal-divider-holder
  height: 10vh

// ******************************************************

// HIGHLIGHTS

.highlight-center
  &:before
    width: calc( '100% + ' + ($margin-mid) )
    left: -( $margin-basic )
    background-color: $color-yellow

.highlight-heading::before
  left: -( $margin-basic )

.highlight-heading-wide::before
  left: -( $margin-basic )

.highlight-heading-alt
  h1,
  h2,
  h3
    padding-left: $margin-mid
  &::before
    right: $margin-basic

.highlight-press:before
  right: $margin-basic

// ******************************************************

// HEADER

#header-menu
  li
    margin-left: $margin-basic



// ******************************************************

// FOOTER

#footer
  width: 100%
  color: $color-white
  background-color: $color-blue

#footer-menu
  display: block
  li
    margin-left: $margin-basic

.footer-contact-text
  font-size: $font-size-basic
