// BASIC

a.button, a.button:active, a.button:visited
  text-align: center
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight-center
  &:before
    width: calc( '100% + ' + ($margin-mid) )
    left: -( $margin-basic )
    background-color: $color-yellow

// ******************************************************

// HEADER

#header-menu
  li
    margin-left: $margin-basic



// ******************************************************

// FOOTER

#footer
  width: 100%
  color: $color-white
  background-color: $color-blue

#footer-menu
  display: block
  li
    margin-left: $margin-basic

.footer-contact-text
  font-size: $font-size-basic
