// BASIC

a.button, a.button:active, a.button:visited
  text-align: center
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight-center::before
  width: calc( '100% + ' + ($margin-mid) )
  left: -( $margin-basic )

.highlight-hero::before
  width: 86%
  height: 100px
  left: 6%
  top: 50%
  margin-top: -50px

.highlight-heading::before
  left: -( $margin-basic )

.highlight-heading-wide::before
  left: -( $margin-basic )

.highlight-heading-alt
  h1,
  h2,
  h3
    padding-left: $margin-mid
  &::before
    right: $margin-basic

.highlight-press:before
  height: 100px
  right: $margin-basic
  margin-top: -50px

// ******************************************************

// HEADER

#header-logo
  font-size: $font-size-mid

#header-menu
  display: block
  li
    margin-left: $margin-mid
    font-size: 18px

#mobile-open-holder
  display: none

// ******************************************************

// FOOTER

#footer-menu
  li
    margin-left: $margin-mid
    font-size: 18px

.footer-contact-text
  font-size: $font-size-basic
