// BASIC

a.button, a.button:active, a.button:visited
  text-align: center
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight-center
  &:before
    width: calc( '100% + ' + ($margin-mid) )
    left: -( $margin-basic )
    background-color: $color-yellow
