// BASIC

a.button, a.button:active, a.button:visited
  text-align: center
  padding: $margin-small $margin-basic
  border-radius: $margin-tiny
  font-size: $font-size-small

// ******************************************************

// HIGHLIGHTS

.highlight-center::before
  width: calc( '100% + ' + ($margin-mid) )
  left: -( $margin-basic )

.highlight-hero::before
  width: 86%
  height: 100px
  left: 6%
  top: 50%
  margin-top: -50px

// ******************************************************

// HEADER

#header-menu
  display: block
  li
    margin-left: $margin-mid

#mobile-open-holder
  display: none

// ******************************************************

// FOOTER

#footer-menu
  li
    margin-left: $margin-mid

.footer-contact-text
  font-size: $font-size-mid
